Flask==0.9
Flask-Mail==0.6.1
GnuPGInterface==0.3.2
Jinja2==2.6
MySQL-python==1.2.2
SQLAlchemy==0.7.9
Werkzeug==0.8.3
blinker==1.2
chardet==2.1.1
command-not-found==0.1
distribute==0.6.10
lamson==1.1
lockfile==0.9.1
mercurial==1.4.3
mock==1.0.0
nose==1.2.1
pycurl==7.19.0
python-apt==0.7.94.2ubuntu6.4
python-daemon==1.6
simplejson==2.6.2
ufw==0.30pre1-0ubuntu2
unattended-upgrades==0.1
wsgiref==0.1.2
