@mixin box-shadow($xoffset, $yoffset, $blur_size, $color, $inset_xoffset: 0, $inset_yoffset: 0, $inset_blur_size: 0, $inset_color: #000) {
    -moz-box-shadow: $xoffset $yoffset $blur_size $color, inset $inset_xoffset $inset_yoffset $inset_blur_size $inset_color;
    -webkit-box-shadow: $xoffset $yoffset $blur_size $color, inset $inset_xoffset $inset_yoffset $inset_blur_size $inset_color;
    box-shadow: $xoffset $yoffset $blur_size $color, inset $inset_xoffset $inset_yoffset $inset_blur_size $inset_color;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin vertical-gradient-rgba($top-color, $bottom-color) {
    background: $bottom-color; /* fallback for old browsers */
    background: -webkit-gradient(linear, left top, left bottom, from($top-color), to($bottom-color)); /* webkit */
    background: -moz-linear-gradient(top,  $top-color,  $bottom-color); /* firefox 3.6+ */
}

html {
    height: 100%;
}

body {
    margin:0;
    padding: 0;
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;

    #page_content {
        background: #fff url("/static/img/background.png") repeat-x top left;
        height: 100%;

        #titlebar {
            position: fixed;
            background-color: black;
            opacity: 0.5;
            width: 100%;
            height: 100px;
            min-width: 1150px;

            #title {
                opacity: 1.0;
                color: white;
                font-size: 46px;
                font-weight: bold;
                margin-left: 20px;
                line-height: 100px;
            }
        }

        img {
            position: absolute;
            float: right;
            right: 0;
            bottom: 0;
            width: 700px;
        }

        #navbar {
            position: fixed;
            float: left;
            margin-top: 100px;

            #nav {
                float: left;
                line-height: 50px;
                padding: 0;

                li {
                    background-color: #669;
                    list-style: none;
                    clear: left;
                    float: left;
                    width: 100%;
                    font-size: 24px;
                    font-weight: lighter;
                    padding: 8px 28px;
                    margin: 12px 0;

                    a {
                        text-decoration: none;
                        color: white;

                        &:hover {
                            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
                        }

                        &.active, &:focus {
                        }
                    }
                }
            }
        }
    }
}