@mixin box-inset-shadow($xoffset, $yoffset, $blur_size, $color) {
    -moz-box-shadow: inset $xoffset $yoffset $blur_size $color;
    -webkit-box-shadow: inset $xoffset $yoffset $blur_size $color;
    box-shadow: inset $xoffset $yoffset $blur_size $color;
}

@mixin box-inset-shadow-spread($xoffset, $yoffset, $blur_size, $spread, $color) {
    -moz-box-shadow: inset $xoffset $yoffset $blur_size $spread $color;
    -webkit-box-shadow: inset $xoffset $yoffset $blur_size $spread $color;
    box-shadow: inset $xoffset $yoffset $blur_size $spread $color;
}

@mixin box-shadow($xoffset, $yoffset, $blur_size, $color, $inset_xoffset: 0, $inset_yoffset: 0, $inset_blur_size: 0, $inset_color: #000) {
    -moz-box-shadow: $xoffset $yoffset $blur_size $color, inset $inset_xoffset $inset_yoffset $inset_blur_size $inset_color;
    -webkit-box-shadow: $xoffset $yoffset $blur_size $color, inset $inset_xoffset $inset_yoffset $inset_blur_size $inset_color;
    box-shadow: $xoffset $yoffset $blur_size $color, inset $inset_xoffset $inset_yoffset $inset_blur_size $inset_color;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin vertical-gradient-rgba($top-color, $bottom-color) {
    background: $bottom-color; /* fallback for old browsers */
    background: -webkit-gradient(linear, left top, left bottom, from($top-color), to($bottom-color)); /* webkit */
    background: -moz-linear-gradient(top,  $top-color,  $bottom-color); /* firefox 3.6+ */
}

@mixin transition($property, $duration, $timing_func, $delay) {
    transition: $property $duration $timing_func $delay;
    -webkit-transition: $property $duration $timing_func $delay;
    -moz-transition: $property $duration $timing_func $delay;
}

@mixin translate($x, $y) {
    -webkit-transform: translate($x, $y);
    -moz-transform: translate($x, $y);
    -o-transform: translate($x, $y);
    transform: translate($x, $y);
}

html {
    height: 100%;
}

body {
    margin:0;
    padding: 0;
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
    min-width: 1150px;

    #page_content {
        position: relative;
        background: white url("/static/img/background.jpg") repeat-x top left;
        background-size: 100% 100%;
        height: 100%;

        #content {
            margin-top: 140px;
            float: left;
            margin-left: 250px;
            color: #3c0470;
            font-size: 26px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
        }

        #titlebar {
            position: absolute;
            background-color: #2c2424;
            opacity: 0.7;
            width: 100%;
            height: 100px;
            top: 0;

            #title {
                color: white;
                font-size: 46px;
                font-weight: bold;
                margin-left: 20px;
                line-height: 100px;
                text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
            }
        }

        #home {
            float: left;
            margin-left: 220px;
            margin-top: 110px;

            img {
                position: absolute;
                right: 0;
                bottom: 0;
                width: 500px;
                height: auto;
            }

            #homedesc {
                position: relative;
                color: #3c0470;
                text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
                font-size: 26px;
                left: 20px;
                margin-right: 500px;
            }
        }
        #navbar {
            position: fixed;
            float: left;
            margin-top: 100px;

            #nav {
                float: left;
                line-height: 50px;
                padding: 0;

                li {
                    background-color: #db37dc;
                    opacity: 0.8;
                    list-style: none;
                    clear: left;
                    float: left;
                    width: 160px;
                    height: 50px;
                    font-size: 22px;
                    padding: 8px 28px;
                    margin: 12px 0;
                    @include transition(all, 0.1s, ease-in, 0.05s);

                    &:hover {
                        padding-right: 50px;
                    }

                    &.active, &:focus {
                        background-color: #892276;
                        padding-right: 28px;

                        img {
                            width: 30px;
                            position: relative;
                            top: -40px;
                            left: -17px;
                            margin-right: 5px;
                        }
                    }

                    a {
                        display: block;
                        text-decoration: none;
                        color: white;
                        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
                        padding-left: 20px;
                    }
                }
            }
        }
    }
}
