{% extends "base.jinja2" %}
{% block page_content %}
  <div class="approach-content">
    <p>My approach is undoubtedly an eclectic combination of my analytic training and use of my own, very real, down to earth, pragmatic self. People find me to be warm, caring and an excellent listener. I give feedback, and I’m an active participant in the session.</p>

    <p>The stereotypical, old notion of psychoanalytic work is totally outdated. With new theory and technique, analytically informed therapists may be the best kept secret out there with skills that allow working in depth while still being totally present and engaged with you.</p>

    <p>Most people first seek treatment when their feelings or situation has become intolerable. Some, who have had a positive experience with prior treatment, know how helpful therapy can be, and don’t wait for an extreme circumstance to get started.</p>

    <p>I will work with you as a whole person. We will not simply focus on the symptom. Symptoms are signals that something is not right in your world. Some people will benefit from medication, and for those, I work collaboratively with psychiatrists and nurses who prescribe psychotropic medications. Rarely will I insist on a medication route. Our focus will be on what is going on in your current life, relevant history, as well as the evolving therapy relationship itself. By so doing, you will most likely find that your symptoms do get resolved, go away, and you find relief.</p>

    <p>Most of us grew up and adapted to the personalities and expectations of our family of origin. Those adaptations became part of who we are. Unfortunately, what was adaptive in childhood may be maladaptive in our relationships with important people now. We will see how this has evolved (many people do not see this in themselves) and to distinguish earlier needs, behaviors and feelings from those that will be more functional in the present. Everyone wants satisfying, happy relationships and to feel good about themselves. Therapy will help you see how your own part interferes with these goals. We cannot change the other people in your life, but we can better understand what is happening and find ways for you to improve and resolve complex situations and feelings. You will most likely gain a new and different view of what is occurring as well as resolve issues you have not yet been able to work out. The ultimate goal of therapy is to help you to help yourself.</p>
  </div>
{% endblock page_content %}
