<!doctype html>
<title>Tina's Website</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/view.css') }}">
<link rel="shortcut icon" href="/static/img/icon.png"/>
<div id="page_content">
  {% block background %}
    <div id="content">
      Site is under rennovation. Content will come, soon...
    </div>
  {% endblock background %}

  <div id="titlebar">
    <div id="title">
      Tina Wen
    </div>
  </div>

  <div id="navbar">
    <ul id="nav">
      {% for id, caption in [('home', 'Home'), ('bio', 'Biography'), ('resume', 'Resume'), ('projects', 'Projects')] %}
        <li {% if id == active_page %} class="active"{% endif %}><a href="{{ url_for(id) }}">{{caption}}</a>{% if id == active_page %}<img src="/static/img/icon.png" />{% endif %}</li>
      {% endfor %}
    </ul>
  </div>
</div>
