{% extends "base.jinja2" %}
{% block page_content %}
  <div id="bio">
    <div id="header">
      <div id="name">
        <img src="/static/img/name.png" />
      </div>
      <div id="photo">
        <img src="/static/img/photo.png" />
      </div>
    </div>
    <div class="bio-title">
      Before California
    </div>
    <p>I was born and raised in Beijing, China. The competitive environment really shaped my powering-though mentality. I came to America when I was 18, and went to college at MIT. I had such a fun time at MIT: living at East Campus during my undergrad helped shape my nerd pride; crew taught me to always keep going and never give up; I don't need to say much about ultimate because it's the best sport ever, thanks to smite (MIT women ultimate frisbee team) for introducing it to me; spending a year at the University of Cambridge gave me a chance to observe and appreciate different culture, and I developed the love for travelling. I loved the 4 years at MIT so much that I had to stay for an extra year for my master's degree. I worked under Professor Srini Devadas and did a computer architecture project, specifically in parallel computing: <a href="/static/files/thesis.pdf">Bandwidth Sensitive-Oblivious Routing</a>.</p>
    <div class="bio-title">
      Exploring the city - San Francisco
    </div>
    <p>I enjoy stepping into unfamiliar areas and learning new things. I love living in San Francisco where there are always nice little cute restaurants to discover. I walk from the mission district to sunset on the nice Sunday afternoon, through SOMA where I stop and watch street performers like a tourist, Japantown where I get a Sophie's crepe, Golden Gate Park where I toss a frisbee, and sunset where I reward myself with dozens of soup dumplings at Shanghai Dumpling King. San Francisco is so conveniently located that it's easy to do many fun things: a wine tasting trip can be an afternoon activity; a ski trip to Tahoe can be a day trip; hiking at the Grand Canyon or Yosemite doesn't require that much planning either. All you need is a car.</p>
    <div class="bio-title">
      Learning new thing - Dropbox
    </div>
    <p>I'm a happy engineer at Dropbox. I consider myself pretty lucky to be able to have built and continue building important and game-changing features to Dropbox that many of my family and friends use. For the year I was basically the entire iOS team, I built large file upload, which supports uploading any file size through the iOS app; I built camera upload so the app automatically detects a change in the user's camera roll and uploads the new photos to Dropbox. I built an album view to allow users to more easily view the uploaded photos. It wasn't an easy task to build a system that is performant and sustainable. With almost no QA support and being the only engineer working on the iOS app, I truly got a taste of working for a startup. I had to understand every part of the code and process. The responsibility of shipping a good product to tens of millions of users got me excited every day.</p>

    <p>After shipping the big camera upload feature, I wanted to explore other parts of Dropbox. I wanted the challenge of working on something completely different that involves solving other types of problems: web and server codebase. I transferred to the web team. For the past few months that I've been on the web team, I built “100M Thanks” and worked on the Notifications Project. This project is a unified effort across web, desktop client, and mobile to improve user engagement. It was challenging because we had to understand the constraints of all platforms, work across many teams, and make the functionality scalable and sustainable. On the front-end we had to come up with a unified design so it's consistent on all platforms and yet makes sense, looks native and is easy to use on each of the platforms.</p>

    <p>It's been a very long time since last time I woke up in the morning and not wanting to go to work. I have an exciting project; I interact with people who challenge intellectually every day. How would I not want to go to work?</p>

    <div class="bio-title">
      Being Active
    </div>
    <p>Work’s obviously not the only thing I do, though! I love being physically active. I do everything and anything that is fun and gets me active. I run 5 times a week; I play frisbee; I do hip-hop dance and zumba. I'm a firm believer that being active makes me stronger and more energetic. I recently did the <a href="https://lap.io/event/2013-pycon-5k-charity-fun-run/results">pycon 5k run</a>. I was first among women, 21min even! The reward was a free ticket to the next Pycon. I can't wait to use it!</p>

  </div>
{% endblock page_content %}
