{% extends "base.jinja2" %}
{% block page_content %}
  <div id="bio">
    <p>I was born and raised in Beijing, China. The competitive environment really shaped my powering-though mentality. I came to American when I was 18, and went to college at MIT. I had such a fun time at MIT: living at East Campus during my undergrand helped shape my nerd pride; crew taught me to always keep going and never give up; I don't need to say much about ultimate because it's the best sport ever, thanks to smite (MIT women ultimate frisbee team) for introducing it to me; spending a year at the University of Cambridge gave me a chance to observe and appreciate different culture, and I developed the love for travelling. I loved the 4 years at MIT so much that I had to stay for an extra year for my master's degree. I worked under Professor Srini Devadas and did a computer architecture project, specifically in parallel computing: <a href="/static/files/thesis.pdf">Bandwidth Sensitive-Oblivious Routing</a>.</p>

    <p>I enjoy stepping into unfamiliar areas and learning new things. I love living in San Francisco where there are always nice little cute restaurants to discover. I would walk from the mission district to sunset on the nice Sunday afternoon, through SOMA where I would stop and watch street performers like a tourist, Japantown where I would get a Sophie's crepe, golden gate park where I would toss a frisbee, and sunset where I would reward myself with three dozens of soup dumplings at Shanghai Dumpling King. San Francisco is so conviniently located that it's so easy to do many fun things: a wine tasting trip can be an afternoon activity; a ski trip to Tahoe can be a  day trip; hiking at the grand canon or yosemite doesn't require that much planning either. All you need is a car.</p>

    <p>I'm a happy engineer at Dropbox. I consider myself pretty lucky to be able to have built and continue building important and game-changing features to Dropbox that many of my family and friends use. For the year I worked on the iOS team at Dropbox when I was pretty much by myself for the whole time, I built large file upload, which begins the support of uploading any file size through the iOS app; I built camera upload so it automatically detects a change in the user's camera roll and uploads the new photos to Dropbox. I built an album view to allow the users to more easily view the uploaded photos. It wasn't an easy task to build a system that is performant and sustainable. With almost no QA effort and being the only engineer working on the iOS app, I truly got a taste of working for a startup. I had to understand every part of the code and process. The responsibility of shipping a good product to tenth of millions of users got me excited every day.</p>

    <p>After shipping the big camera upload feature, I wanted to explore other parts of Dropbox. I wanted the challenge of working on something completely different that involves solving other types of problems: web and server codebase. I transferred to the web team. For the past few months I've been on the web team, I built 100m Thanks and worked on Notifications Project. Notifications project is a unified effort across web, desktop client, and mobile to improve user engagement. It was challenging because we had to understand the constraints of all platforms, work together, make it scalable, and sustainable. On the front-end we had to come up with a unified design so it's consistent on all platforms and yet makes sense, looks native and easy to use on each of the platforms.</p>

    <p>It's been too long since last time I woke up in the morning and not wanting to go to work. I have an exciting project; I interact with people who challenge intellectually every day. How would I not want to go to work?</p>

    <p>I love being physically active. I do everything and anything that is fun and gets me active. I run 5 times a week; I play frisbee; I do hiphop dance and zumba. I'm a firm believer that being active makes me stronger and more energetic. I recently did the <a href="https://lap.io/event/2013-pycon-5k-charity-fun-run/results">pycon 5k run</a>. I was first among women, 21min even! The reward is a free ticket to the next pycon. I can't wait to use it!</p>

  </div>
{% endblock page_content %}
