{% extends "base.jinja2" %}
{% block page_content %}
  <div class="contact-content">
    <div class="title">
      <p>The quickest way to reach me is by telephone. If you do not reach me directly, please leave a message with your phone numbers and I will call you
back promptly.</p>

        <p>You can also email me and give me your phone number and when I may reach you, and I will call you.</p>

        <p>My office entrance is around the back and accessed by following the path at the end of the driveway. Please park in the street or on the right side of the driveway before the front path and garage doors.</p>

        <p>Office hours are by appointment only.</p>
    </div>
    <div id="contact-card">
      <div id="contact-name">
        Karyn Reader, MSW, LCSW
      </div>
      <div id="contact-details">
        <ul>
          <li><span class="key">Phone:</span><span class="value">(973) 540-0049</span></li>
          <li><span class="key">Email:</span><span class="value"><a href="mailto:karynreader@gmail.com">karynreader@gmail.com</a></span></li>
          <li><span class="key">Address:</span><span class="value">8 Blanchard Court</span></li>
          <li><span class="key"></span><span class="value">Randolph, NJ 07869</span></li>
        </ul>
        <a href="https://maps.google.com/maps?q=8+Blanchard+Court,+Randolph,+NJ+07869&hl=en&sll=40.07304,-74.724323&sspn=5.934862,11.634521&t=h&hnear=8+Blanchard+Ct,+Randolph,+Morris,+New+Jersey+07869&z=16" id="direction-button">Get Directions</a>
      </div>
    </div>
  </div>
{% endblock page_content %}
