{% extends "base.jinja2" %}
{% block page_content %}
  <div id="file-browser">
    <h1>Dropbox File Browser for Mac OSX</h1>
    <p>A desktop file browser app that uses Dropbox Mac OSX SDK. It supports login/logout, viewing files, downloading multiple files with queuing, canceling downloads, etc.</p>
    <li>Login screen</li>
    <img src="/static/img/file_browser_signin.png" />
    <li>Download/Cancel download</li>
    <img src="/static/img/file_browser_download.png" />
    <li>Browse view</li>
    <img src="/static/img/file_browser_view.png" />
  </div>
{% endblock page_content %}
