{% extends "base.jinja2" %}
{% block page_content %}
  <div id="home">
    <div id="bubbles">
      <a class="bubble" href="https://www.dropbox.com/about">Engineer at Dropbox</a>
      <a class="bubble" href="#">Ultimate</a>
      <a class="bubble" href="#">Food Lover</a>
      <a class="bubble" href="http://swe.mit.edu/members/profile15.php">MIT Graduate</a>

    <div id="short-bio">
      <p>I'm a software engineer at Dropbox focusing on web development. I also had a year-long stint working on the Dropbox iOS client, creating key features designed to drive user engagement. Before joining Dropbox, I was a developer at Microsoft and helped launch the first version of Mac Outlook. I hold a bachelor’s degree in electrical engineering and a master’s degree in computer architecture, both from MIT.</p>
    </div>

      <a class="bubble" href="https://lap.io/event/2013-pycon-5k-charity-fun-run/results">Power Through</a>
      <a class="bubble" href="#">Love Travelling</a>
      <a class="bubble" href="/projects">Enthusiastic Coder</a>
      <a class="bubble" href="/bio"><img src="/static/img/profile_tina.png" /></a>
    </div>
  </div>
{% endblock page_content %}
