{% extends "base.jinja2" %}
{% block page_content %}
  <div id="home">
    <a class="bubble" href="https://www.dropbox.com/about">Engineer at Dropbox</a>
    <a class="bubble" href="#">Ultimate</a>
    <a class="bubble" href="#">Food Lover</a>
    <a class="bubble" href="#">Grew up in China</a>
    <a class="bubble" href="http://swe.mit.edu/members/profile15.php">MIT Graduate</a>
    <a class="bubble" href="https://lap.io/event/2013-pycon-5k-charity-fun-run/results">Power Through</a>
    <a class="bubble" href="#">Love Travelling</a>
    <a class="bubble" href="/projects">Enthusiastic Coder</a>
    <a class="bubble" href="/bio"><img src="/static/img/profile_tina.png" /></a>
  </div>
{% endblock page_content %}
