{% extends "base.jinja2" %}

{% block background %}
  <div id="home">
    <div id="homedesc">
      <p>I'm a high-energy software developer currently working at Dropbox. After focusing on iOS development (pretty much solely on my own) for a year, I moved over to the web team to get more experience in terms of width of the product. Dropbox is an amazing place to work. I really enjoy working/hanging out with my co-workers.</p>

      <p<I moved to the US when I was 18. I got my bachelors and masters degree in Computer Architecture from MIT. My thesis is on Bandwidth-sensitive Oblivious Routing. I worked as a software developer engineer on Mac Office at Microsoft for 2 years before joining Dropbox. </p>

           <p>I like working on projects in my spare time. I’m a workout maniac. I workout every day. I believe having a healthy body helps me big time in my productivity. I run, play ultimate, go hiking, zumba, bhangra, etc, basically anything that can make me sweat. </p>
    </div>
    <div id="wrapper_image">
      <img src="/static/img/profile_pic.png" />
    </div>
  </div>
{% endblock background %}
