{% extends "base.jinja2" %}
{% block page_content %}
  <div id="project">
    <li>
      <div class="project-title">
        <a href="/menu">Dropbox Menu Site for the cafeteria</a>
      </div>
      <div class="project-desc">
        This is a menu website that allows menus to be added/edited/deleted by the company chefs and daily menus to be viewed on the flatscreen TV in the cafeteria or accessed through a browser or an API. Each menu item indicates ingredients, allergens, and health factor. Dropboxers can easily browse all the menus starting from when the cafeteria opened. The website populates google calendar and sends food emails automatically, 3 times a day. The menus are also easily printable into formatted food cards that are used for display in the cafeteria. This project is built on the Pyramid framework. Code is on <a href="https://github.com/tinawen/menu">github</a>.
      </div>
    </li>

    <div class="project-title">
      <a href="/connect4">A Fast Thinking Connect-4 Game</a>
    </div>
    <div class="project-des">
      Designed a fast Connect-4 game using negamax search and a pruning algorithm with a unique parallel approach on a multicore chip (written in C).
    </div>

    <div class="project-title">
      <a href="/file_browser">Dropbox File Browser for Mac OSX</a>
    </div>
    <div class="project-des">
      A desktop file browser app that uses Dropbox Mac OSX SDK. It supports login/logout, viewing files, downloading multiple files with queuing, canceling downloads, etc. Code is on <a href="https://github.com/tinawen/Dropbox-File-Browser">github</a>.
    </div>

  </div>
{% endblock page_content %}
