{% extends "base.jinja2" %}
{% block page_content %}
  <div class="fee-content">
    <p>Most health insurance plans provide coverage for outpatient mental health treatment, also known as psychotherapy. Many insurance companies refer to this as behavioral health. The Paul Wellstone-Dominici Act, which went into law as of January 1, 2010 gave parity to psychotherapy consumers regardless of diagnosis. Medical coverage for companies with 50 employees or more cannot legally limit your number of visits for psychotherapy.</p>

    <p>Although I am only in network with Medicare, almost all the people I work with get excellent reimbursement from their various insurance carriers. I can either submit the claims for you or give you a receipt that you can submit. If you have an HMO you will not be covered to see me as an out of network therapist, but if you have a POS or a PPO, you most likely will be. You do, however, have to meet your deductible before your insurance will start to reimburse you for visits. Some insurances require prior authorization, which involves a phone call to set up.</p>

    <p>I do reduce my fee when genuinely warranted. I also have access to some low fee resources and can refer you, if you wish.</p>
  </div>
{% endblock page_content %}
