{% extends "base.jinja2" %}
{% block page_content %}
  <div class="qualification-content">
    <img src="/static/img/picture.png">
      <p>BA & MSW: I graduated Phi Beta Kappa, Magna Cum Laude from S.U.N.Y. Buffalo in 1972 with a Bachelors of Arts in Psychology. I earned my MSW or Master of Social Welfare from University of California, Berkeley in 1975.</p>

      <p>Postgraduate Training: I completed a two year certificate program in sex therapy in the Helen Singer Kaplan method at Jewish Board of Family and Childrens’ Services of NYC in 1979.</p>

      <p>I hold a Certificate in Psychoanalytic Psychotherapy from The New York School For Psychoanalytic Psychotherapy, earned in 1984. This was a three year program.</p>

      <p>I also earned both a certificate in psychoanalytic psychotherapy and a certificate in psychoanalysis (a six year program) in 2000 from The Institute For Psychoanalysis and Psychotherapy of New Jersey, which has now become The Center For Psychotherapy and Psychoanalysis of New Jersey (CPPNJ). I am a faculty member of CPPNJ.</p>

      <p>Licensure: Licensed Clinical Social Worker, LCSW # 44SC00009700 in New Jersey.</p>

      <p>Lifelong learning is essential in this field of psychotherapy. Additionally, to become a psychoanalyst, we must have our own analysis—so I know first hand what it feels like to be the patient!</p>
  </div>
{% endblock page_content %}
