{% extends "base.jinja2" %}
{% block page_content %}
  <div class="content" id="traveling">
    <p>I love traveling. The map below shows where I've been along with some pictures. The places on the maps that aren't flagged are the places I want to go to, some day. </p>
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=210951034011068959900.0004d93f7008cc9aad2a4&amp;ie=UTF8&amp;t=h&amp;z=2&amp;output=embed"></iframe><br /><small>View <a href="https://maps.google.com/maps/ms?msa=0&amp;msid=210951034011068959900.0004d93f7008cc9aad2a4&amp;ie=UTF8&amp;t=h&amp;z=2&amp;source=embed" style="color:#0000FF;text-align:left">Places I've traveled to</a> in a larger map</small>
      <li><span class="location">Galapagos, Ecudor - November 2012</span><span class="album"><a href="https://www.dropbox.com/sc/pa79s4nh6qhm8uv/_Tc4QUz_Ec">View Album</a></span></li>
    <li><span class="location">Quito, Ecudor - November 2012</span><span class="album"><a href="https://www.dropbox.com/sc/dkhmhbu63fs12rs/7p6ifF-bdO">View Album</a></span></li>
    <li><span class="location">Lago Agrio(Amazon), Ecudor - November 2012</span><span class="album"><a href="https://www.dropbox.com/sc/8fr9w0lnw0elfw0/0hn6Ptvl5V">View Album</a></span></li>
    <li><span class="location">Toronto, Waterloo, and Ottawa, Canada - January 2013</span><span class="album"><a href="https://www.dropbox.com/sc/7cr5b47q4r7jq9r/KAHF_EW52O">View Album</a></span></li>
    <li><span class="location">Beijing, China - every year or two</span><span class="album"><a href="https://www.dropbox.com/sc/w1ti4sirq2pwa4g/QMHUarPkyc">View Album</a></span></li>
    <li><span class="location">Cancun, Mexico - July 2012</span><span class="album"><a href="#">View Album</a></span></li>
   <li><span class="location">Rome, Venice, Florence, Italy</span><span class="album"><a href="https://www.dropbox.com/sc/88e8k4toae0dquc/Wfwe6GvQDt">View Album</a></span></li>
    <li><span class="location">Cambridge, London, ScotlandUK - 2006-2007</span><span class="album"><a href="https://www.dropbox.com/sc/b596ztstcrebuw2/kn_G81MW1T">View Album</a></span></li>
    <li><span class="location">Dubai, UAE - 2007, 2008</span><span class="album"><a href="https://www.dropbox.com/sc/alapzrk5wadhg4m/O_cmW_8-G_">View Album</a></span></li>
    <li><span class="location">Switzerland, Czech Republic, Italy, France, Germany - December 2006</span><span class="album"><a href="https://www.dropbox.com/sc/3x5y63u9nb6qq3a/7sTBPsLi6J">View Album</a></span></li>
    <li><span class="location">Boston, MA</span><span class="album"><a href="https://www.dropbox.com/sc/f0kzp1tni5hd0ul/0HkI-bNvkc">View Album</a></span></li>
    <li><span class="location">Randalf, NJ</span><span class="album"><a href="https://www.dropbox.com/sc/g6pdby7x83o0gn5/cLAlFNc321">View Album</a></span></li>
    <li><span class="location">Grand Canyon, AZ</span><span class="album"><a href="https://www.dropbox.com/sc/e1zrxkvsg0oejw1/FYdTbPCeJb">View Album</a></span></li>
    <li><span class="location">Yosemite, CA</span><span class="album"><a href="https://www.dropbox.com/sc/7qxk5nrltpe92i0/jG3zVN1J01">View Album</a></span></li>
    <li><span class="location">Lake Tahoe, CA</span><span class="album"><a href="https://www.dropbox.com/sc/pwu89dyauuq96hs/IgFCg8jIqw">View Album</a></span></li>
y
    <li><span class="location">Las Angeles, CA</span><span class="album"><a href="https://www.dropbox.com/sc/evofth9ciudgv4e/iVfctd7dx6">View Album</a></span></li>
    <li><span class="location">Seattle, WA</span></li>
    <li><span class="location">New York, NY</span></li>
  </div>
{% endblock page_content %}
